
.main-container {
  display: flex;
  width: auto;
  height: 95vh;
  background-color: rgb(50, 50, 50);;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}

.dot {
  background: rgb(189, 58, 35);
  border-radius: 50%;
  width: min(20vh, 20vw);
  height: min(20vh, 20vw);
  transform: scale(1);
  transition: all 1s;
}

.btn-secondary {
  position: fixed;
  align-self: flex-start;
  width: 30%;
  height: 10%;
  bottom: 5%;
  margin: 30px;
}

h5 {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

h3 {
  position: absolute;
  width: 5vh;
  height: 5vh;
  font-size: 2vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-white > * {
  margin: 10px;
  max-width: 20rem;
  flex-wrap: nowrap;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

h4 {
  color: aliceblue;
  position: absolute;
  top: 10%
}

@media screen and (max-width: 768px) {
  .text-white {
    flex-direction: column;
    align-items: center;
  }
}