html, body {
  width: 100%;
  height: 100%;
}

.container {
  min-height: 100%;
  display: grid;
  gap: 1rem;
  height: 100%;
  width: 100%;
  grid-template-rows: auto 1fr 1fr auto;
  grid-template-columns: 100%;
  background-color: rgba(0, 155, 0, 0.3);
}

.header {
  background-color: rgba(0, 200, 0, 0.5);
  border: 1px solid;
  font-weight: bold;

}

.upper_section {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  text-align: center;
  background-color: rgba(0, 255, 0, 0.2);
  border: 2px solid;
  margin: 0.2rem 0.2rem;

}

.lower_section {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-content: stretch;
  gap: 1rem;
  background-color: rgba(0, 210, 0, 0.8);
  border: 1px solid;
  margin: 0.2rem 0.2rem;


}

p {
  border: 1px solid;
  text-align: center;
  place-self: center stretch;
  padding: 1rem;
  transition: 0.35s;
}

p:hover {
  transition: 0.5s;
  transform: scale(1.05);
}

img {
  padding: 1.2rem;
  transition: 0.35s;
}

img:hover {
  transform: scale(1.1);
}

.footer {
  background-color: rgba(0, 200, 0, 0.5);
  border: 1px solid;
}
